<h2>About Me</h2>

<div class="row">
  <div class="columns">
    <h4>
    	Hello, my name is Saysa Carolina Santos and I would be thrilled to help you with to fulfill your real estate needs in South Florida.  Wether you are looking for a place for living or investing. Rest assured that I’m an expert on the local market, basically because I live here in a Condo at Brickell Avenue. Most of my friends live around Brickell, Key Biscayne, SoBe, and Coral Gables. I’ve studied at UM, I go around  living my life in this great city. And most importantly: I do know what it means to come and get settled down here, the pros and cons, through my personal experience. You can find in me a good advisor that will make sure that you rent or purchase what you really need in this key decision.
I'm also specialized in helping international students to find housing. Feel free to contact me any time!
    </h4>
  </div>
</div>



