<div class="row">
	<div class="columns">
	  <div class="row">
	    <div class="columns medium-6">
	      <h2>Contact</h2>
	      <p>Let me help you to discover your perfect home.</p>
	      <p>
	        If you require any information regarding any of my services please do not hesitate to contact me.
	      </p>
	      <p>
	        I usually don't take longer than 1 day to answer.
	      </p>
	    </div>
	    <div class="columns medium-6">

	      <form action="//formspree.io/saysacaro.realtor@icloud.com" method="POST">
	        <div class="row">
	          <div class="columns">
	          	<label for="name">Name</label>
	            <input type="text" name="name">
	          </div>
	        </div>
	        <div class="row">
	          <div class="columns">
	          	<label for="email">Email</label>
							<input type="email" name="_replyto">
	          </div>
	        </div>
	        <div class="row">
	          <div class="columns">
	          	<label for="message">Message</label>
							<textarea name="message"></textarea>
	          </div>
	        </div>
	        <div class="row">
	          <div class="columns">
	            <input type="submit" value="Send" class="button">
	          </div>
	        </div>
	      </form>
	    </div>
	  </div>
	</div>
</div>
