<footer>
  <div class="row">
    <div class="columns medium-4">
      <div class="logo-box">
        <a href="/"><img src="/images/icon_trb.png">
        </a>
      </div>
    </div>
    <div class="columns medium-8">
      <div class="row">
        <div class="columns medium-6">
          <h4>
            Saysa
          </h4>
          <ul class="no-bullet">
            <li><a href="#">ajaja</a></li>
            <li><a href="#">k</a></li>
          </ul>
        </div>
        <div class="columns medium-6">
          <h4>
            Follow Us
          </h4>
          <ul class="inline-list">
            <li>
              <a href="https://github.com/trailblazer">
                <i class="footer-icon github-icon"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/apotonick">
                <i class="footer-icon twitter-icon"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
