<footer>
  <div class="row">
    <div class="columns medium-4">
      <div class="logo-box">
        <a href="/"><img style="height: 80px;" src="/images/logo.svg">
        </a>
      </div>
    </div>
    <div class="columns medium-8">
      <div class="row">
        <div class="columns medium-6">
          <h4>
            Carolina santos
          </h4>
          <ul class="no-bullet">
            <li><a href="#">About</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Education</a></li>
          </ul>
        </div>
        <div class="columns medium-6">
          <h4>
            Keep in touch
          </h4>
          <ul class="inline-list">
            <li>
              <a href="#">
                <i class="footer-icon facebook-icon"></i>
              </a>
            </li>
            <li>
              <a href="mailto:saysacaro.realtor@icloud.com">
                <i class="footer-icon email-icon"></i>
              </a>
            </li>
          </ul>
          
        </div>
      </div>
      <p class="copyright">Copyright 2015 - Site designed by <a href="https://twitter.com/noeliacabane"> Noelia Cabane</a></p>
    </div>
  </div>
</footer>
