<h2>Education</h2>

<ul class="no-bullet list">
	<li>
		<div class="row education-row">
			<div class="columns medium-3">
				<h4>2015</h4>
			</div>
		  <div class="columns medium-9">
		  	<h3>Real Estate License</h3>
		  	<h5>State of Florida</h5>
		    <p>Member of the National Associations of Realtors (NAR) and the Miami Association of Realtors</p>
		  </div>
		</div>
	</li>

	<li>
		<div class="row education-row">
			<div class="columns medium-3">
				<h4>2012 - Present</h4>
			</div>
		  <div class="columns medium-9">
		  	<h3>MPA</h3>
		  	<h5>University of Miami</h5>
		    <p>Current MPA (Master of Public Administration) student
				</p>
		  </div>
		</div>
	</li>

	<li>
		<div class="row education-row">
			<div class="columns medium-3">
				<h4>2004 - 2009</h4>
			</div>
		  <div class="columns medium-9">
		  	<h3>Bachelor of Science in Industrial Management</h3>
		  	<h5>University of Cartagena</h5>
		    <p>Bachelor of Science’s degree in Industrial Management (B.S.I.M.)
				</p>
		  </div>
		</div>
	</li>
</ul>




