footer {
  background: $black;
  min-height: 150px;
  padding: 3em 0;
  a {
    color: $white;
    &:hover {
      color: $secondary-color;
    }
  }
  h4 {
    color: $white;
    margin-bottom: 1em;
    font-size: rem-calc(18);
    text-transform: uppercase;
  }
  .copyright {
    font-size: rem-calc(12);
    margin-bottom: 0;
    a {
      color: $charcoal;
    }  
  }
  .logo-box {
    @media #{$small-only} {
      margin-bottom: 2em;
    }
  }
  .inline-list {
    li:first-child{
    margin-left: 0;
    }
  }
}

.footer-icon {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-repeat: no-repeat;
}

.facebook-icon {
  background-image: url("/images/facebook.svg");
  &:hover{
    background-image: url("/images/facebook-hover.svg");
  }
}

.email-icon {
  background-image: url("/images/mail.svg");
  &:hover{
    background-image: url("/images/mail-hover.svg");
  }
}
