.sub-section {
  padding: 3em 0;
  @media #{$small-only} {
    padding: 2em 0;
  }
  width: 100%;
  h2 {
    text-transform: uppercase;
    margin-bottom: 2em;
    @media #{$small-only} {
      margin-bottom: 1em;
    }
  }
}

.skills {
  background: $primary-color;
  padding: 4em 0;
}

.contact {
  background: $primary-color;
}

textarea {
  min-height: 120px
}
