.list {
	.education-row {
		margin-bottom: 3em;
	}
	h4 {
		color: $secondary-color;
		font-size: rem-calc(18);
		font-weight: normal;
	}
	h5 {
		color: $secondary-color;
		font-weight: normal;
	}
	h3 {
		font-weight: normal;
	}
}

