<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Carolina Santos</title>
    <meta name="description" content="{{ page.title }} - {{ site.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Favicon fix -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,900' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/style.css" />


    <link rel="stylesheet" href="css/dark.css">

    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>

  <body>
    <!-- Top Bar -->
    {% include nav.html %}

    <!-- Hero -->
    {% include hero.html %}

    <!-- About -->
    <section class="sub-section about" id="about">
      <div class="row">
        <div class="columns">
            {% include about.html %}
        </div>
      </div>
    </section>


    <!-- Skills -->
    <section class="sub-section skills" >
      <div class="row">
        <div class="columns">
            {% include skills.html %}
        </div>
      </div>
    </section>

    <!-- Resume -->
    <section class="sub-section" id="resume">
      <div class="row">
        <div class="columns">
            {% include resume.html %}
        </div>
      </div>
    </section>


    <!-- Contact -->
    <section class="sub-section contact" id="contact">
      <div class="row">
        <div class="columns">
          {% include contact.html %}
        </div>
      </div>
    </section>

    <!-- Footer -->
    {% include footer.html %}

    {% include scripts.html %}

    <script>
        $(document).foundation();
    </script>
</html>
